# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\微服务\bookkeeping\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
